body {
  padding: 50px;
  font: 16px sans-serif;
}

a {
  color: #00B7FF;
}

button {
  font-size: 100%;
  color: gold;
  background: transparent;
  border-radius: 6px;
  border: solid gold 2px;
  padding: 10px;
}

button:hover {
  transform: scale(1.05, 1.05);
  color: darkblue;
  background: lightyellow;
  transition:
          scale 0.125s,
          background 0.125s,
          color 0.125s;
}

input {
  font-size: 100%;
  border: solid 1px darkblue;
  border-radius: 6px;
  padding: 10px;
  width: 40%;
}

input:hover {
  transform: scale(1.05, 1.05);
  border-style: dotted;
  border-width: 2px;
  transition:
          scale 0.125s,
          border-style 0.0625s,
          border-width 0.125s;
}

.result {
  width: 50%;
  border-style: solid;
  border-width: 1px;
  border-radius: 6px;
  margin: 20px 20px 20px 20px;
  padding: 20px;}

.placeholder {
  color: lightgray;
  border-color: lightgray;
}

.waiting {
  color: orange;
  border-color: darkorange;
  transition:
          color 0.125s,
          border-color 0.125s;
}

.failed {
  color: red;
  border-color: darkred;
  transition:
          color 0.125s,
          border-color 0.125s;
}

.retrieved {
  color: green;
  border-color: darkgreen;
  transition:
          color 0.125s,
          border-color 0.125s;
}
